
<!-- Remember to include calendar.js in your main layout file where this partial is used -->
<h1>Blog Calendar</h1>

<p>Please select a date to see the blog entries:</p>
<div class="datepicker-container">
  <div class="form-group">
    <input type="text" id="date-picker-calendar" class="form-control date-picker">
  </div>
</div>

<div id="postsContainer"></div>

